<div id="aboutInfo">

  <h4>About</h4>

  <p>
    Gamma-sky.net is an open-source and open-data webpage about the gamma-ray sky.
  </p>
  <p>
    Read our full documentation
    <a href="https://github.com/gammapy/gamma-sky/wiki" target="_blank">here</a>.
    Also check out our
    <a href="http://aip.scitation.org/doi/abs/10.1063/1.4969002" target="_blank">Gamma2016 conference proceeding</a>.
  </p>
  <p>
    More coming soon!
  </p>
  <br>

  <p>
    Created by
    <a href="https://github.com/cdeil" target="_blank">Christoph Deil</a> and
    <a href="https://github.com/vorugantia" target="_blank">Arjun Voruganti</a>.
  </p>
  <p>
    If you would like to contribute, check out
    <a href="https://github.com/gammapy/gamma-sky" target="_blank">our repo</a> or email us.
  </p>
  <div id='app-info'>
    <p *ngIf="appInfoLoaded()">
      Website version: {{version}}
    </p>
    <p>
      Last modified: {{lastModified}}
    </p>
  </div>



</div>
