<div *ngIf="(catalog)">
  <div class="container">
    <div class="col-md-6" *ngIf="(source)">
      <h2 id='e2e-source-tev-name'>{{d.common_name}}</h2><br>

      <button class='button-default cat-detail-button' (click)="goToMap()">
        See source on map
      </button>

      <h4><b>Basic Info</b></h4>
      <ul>
        <li>Common name: {{d.common_name}}</li>
        <li>Gamma names: {{source.comma_space(d.gamma_names)}}</li>
        <li>Fermi names: {{source.comma_space(d.fermi_names)}}</li>
        <li>Other names: {{source.comma_space(d.other_names)}}</li>
        <!-- TODO: Combine the three above into one "Other names"? -->
        <li>Location: {{d.where}}</li>
        <li>Class: {{source.comma_space(d.classes)}}</li>
      </ul>
      <ul>
        <li>TeVCat name: {{d.tevcat_name}}
          (TeVCat ID: <a href={{source.get_tevcat_url()}} target='_blank'>{{d.tevcat_id}}</a>,
          TeVCat2 ID: <a href={{source.get_tevcat2_url()}} target="_blank">{{d.tevcat2_id}}</a>)
        </li>
        <li>TGeVCat name: {{d.tgevcat_name}} (ID: {{d.tgevcat_id}})</li>
      </ul>
      <ul>
        <li>Discoverer: {{d.discoverer}}</li>
        <li>Discovery date: {{d.discovery_date}}</li>
        <li>Seen by: {{source.comma_space(d.seen_by)}}</li>
        <li>Reference: {{d.reference_id}}</li>
      </ul>

      <br>
      <h4><b>Position Info</b></h4>
      <p>
        <u>SIMBAD</u>
      </p>
      <ul>
        <li>RA: {{source.format(d.ra, false, 'deg')}}</li>
        <li>DEC: {{source.format(d.dec, false, 'deg')}}</li>
        <li>GLON: {{source.format(d.glon, false, 'deg')}}</li>
        <li>GLAT: {{source.format(d.glat, false, 'deg')}}</li>
      </ul>
      <p>
        <u>Measurement</u>
      </p>
      <ul>
        <li>RA: {{source.format(d.pos_ra, false, 'deg')}}</li>
        <li>DEC: {{source.format(d.pos_dec, false, 'deg')}}</li>
        <li>GLON: {{source.format(d.pos_glon, false, 'deg')}}</li>
        <li>GLAT: {{source.format(d.pos_glat, false, 'deg')}}</li>
        <li>Position error: {{source.format(d.pos_err, false, 'deg')}}</li>
      </ul>

      <br>
      <h4><b>Morphology Info</b></h4>
      <ul>
        <li>Morphology model type: {{d.morph_type}}</li>
        <li>Sigma: {{source.format(d.morph_sigma, false, 'deg')}}</li>
        <li>Sigma error: {{source.format(d.morph_sigma_err, false, 'deg')}}</li>
        <li>Sigma2: {{source.format(d.morph_sigma2, false, 'deg')}}</li>
        <li>Sigma2 error: {{source.format(d.morph_sigma2_err, false, 'deg')}}</li>
        <li>Position angle: {{source.format(d.morph_pa, false, 'deg')}}</li>
        <li>Position angle error: {{source.format(d.morph_pa_err, false, 'deg')}}
        </li>
        <li>Position angle frame: {{d.morph_pa_frame}}</li>
      </ul>

      <br>
      <h4><b>Spectral Info</b></h4>
      <ul>
        <li>Significance: {{source.format(d.significance, false)}}</li>
        <li>Livetime: {{source.format(d.livetime, false, 'h')}}</li>
      </ul>

      <div *ngIf="source.spec_type == 'pl'">
        <!-- <div [hidden]="!show_spec_pl()">  <=this might fix the bug also -->
        <ul>
          <li>Spectrum type: pl</li>
          <ul>
            <li>norm: {{source.format_stat_sys(d.spec_pl_norm, d.spec_pl_norm_err, d.spec_pl_norm_err_sys, true, 'cm-2
              s-1 TeV-1' )}}
            </li>
            <li>index: {{source.format_stat_sys(d.spec_pl_index, d.spec_pl_index_err, d.spec_pl_index_err_sys, true)}}
            </li>
            <li>reference: {{source.format(d.spec_pl_e_ref, true, 'TeV')}}</li>
          </ul>
        </ul>
      </div>
      <div *ngIf="source.spec_type == 'pl2'">
        <ul>
          <li>Spectrum type: pl2 (integral pl)</li>
          <ul>
            <li>flux: {{source.format_stat_sys(d.spec_pl2_flux, d.spec_pl2_flux_err, d.spec_pl2_flux_err_sys, true,
              'cm-2 s-1')}}
            </li>
            <li>index: {{source.format_stat_sys(d.spec_pl2_index, d.spec_pl2_index_err, d.spec_pl2_index_err_sys,
              true)}}
            </li>
            <li>e_min: {{source.format(d.spec_pl2_e_min, true, 'TeV')}}</li>
            <li>e_max: {{source.format(d.spec_pl2_e_max, true, 'TeV')}}</li>
          </ul>
        </ul>
      </div>
      <div *ngIf="source.spec_type == 'ecpl'">
        <ul>
          <li>Spectrum type: ecpl</li>
          <ul>
            <li>norm: {{source.format_stat_sys(d.spec_ecpl_norm, d.spec_ecpl_norm_err, d.spec_ecpl_norm_err_sys, true,
              'cm-2 s-1 TeV-1')}}
            </li>
            <li>index: {{source.format_stat_sys(d.spec_ecpl_index, d.spec_ecpl_index_err, d.spec_ecpl_index_err_sys,
              true)}}
            </li>
            <li>e_cut: {{source.format_stat_sys(d.spec_ecpl_e_cut, d.spec_ecpl_e_cut_err, d.spec_ecpl_e_cut_err_sys,
              true, 'TeV')}}
            </li>
            <li>reference: {{source.format(d.spec_ecpl_e_ref, true, 'TeV')}}</li>
          </ul>
        </ul>
      </div>
      <div *ngIf="source.spec_type == 'none'">
        <ul>
          <li>Spectral model not yet implemented.</li>
        </ul>
      </div>

      <ul>
        <li>energy range min: {{source.format(d.spec_erange_min, true, 'TeV')}}
        </li>
        <li>energy range max: {{source.format(d.spec_erange_max, true, 'TeV')}}
        </li>
        <li>theta: {{source.format(d.spec_theta, true, 'deg')}}</li>
      </ul>
      <p>
        <u>Derived fluxes</u>
      </p>
      <ul>
        <li>Spectral model norm (1 TeV): {{source.format_error(d.spec_dnde_1TeV, d.spec_dnde_1TeV_err, true, 'cm-2 s-1
          TeV-1 (stat.)')}}
        </li>
        <li>Integrated flux (&gt;1 TeV): {{source.format_error(d.spec_flux_1TeV, d.spec_flux_1TeV_err, true, 'cm-2 s-1
          (stat.)')}}
        </li>
        <li>Integrated flux (&gt;1 TeV): {{source.format_error(d.spec_flux_1TeV_crab, d.spec_flux_1TeV_crab_err, true,
          '% crab')}}
        </li>
        <li>Integrated flux (1-10 TeV): {{source.format_error(d.spec_eflux_1TeV_10TeV, d.spec_eflux_1TeV_10TeV_err,
          true, 'erg cm-2 s-1')}}
        </li>
      </ul>

      <br>
      <h4><b>Spectral Points</b></h4>
      <ul>
        <li>SED reference id: {{d.sed_reference_id}}</li>
        <li>Number of spectral points: {{d.sed_n_points}}</li>
        <li>Number of upper limits: {{d.sed_n_ul}}</li>
      </ul>
      <br>
      <p>
        <u>Flux table:</u>
      </p>
      <p>To be implemented</p>

    </div>
  </div>
</div>
<footer>
  <div class="container">
    <p>
      Data from: <a href="https://gammapy.github.io/gamma-cat/">gamma-cat, an open TeV source catalog</a>
    </p>
  </div>
</footer>
