<div *ngIf="(catalog)">
  <div class="container">
    <div class="col-md-6">
      <h3>{{catalog.getSourceByID(id).data.Source_Name}}</h3>
      <h5>Basic info</h5>
      <ul>
          <li>Source name: {{catalog.getSourceByID(id).data.Source_Name}}</li>
          <li>Other names: {{catalog.getSourceByID(id).data.Other_Names}}</li>
          <li>Type: {{catalog.getSourceByID(id).data.TYPE}}</li>
          <li>TODO: add link to TeVCat</li>
          <li>TODO: add link to get data as JSON</li>
      </ul>
      <h5>Position info:</h5>
      <ul>
          <li>RA: {{catalog.getSourceByID(id).data.RA}} deg</li>
          <li>DEC: {{catalog.getSourceByID(id).data.DEC}} deg</li>
          <li>GLON: {{catalog.getSourceByID(id).data.GLON}} deg</li>
          <li>GLAT: {{catalog.getSourceByID(id).data.GLAT}} deg</li>
      </ul>
      <h5>Spectral info:</h5>
      <ul>
          <li>TODO</li>
      </ul>
    </div>
  </div>
</div>
<footer>
    <div class="container">
        <p>
            Data from: <a href="http://www.asdc.asi.it/tgevcat/">TeGeV Catalogue @ ASDC (v2, July 2015)</a>
        </p>        
    </div>
</footer>
