<div *ngIf="(catalog)">
  <div class="container">
    <div class="col-md-6" *ngIf="(source)">
      <h2 id='e2e-source-3fhl-name'>{{d.Source_Name}}</h2><br>

      <button class='button-default cat-detail-button' (click)="goToMap()">
        See source on map
      </button>

      <h4><b>Basic Info</b></h4>
      <ul>
        <li>Source name: {{d.Source_Name}}</li>
        <li>Extended name: {{d.Extended_Source_Name}}</li>
        <li>Associations: {{source.join_assoc()}}</li>
        <li>Association probability: {{source.format(d.ASSOC_PROB_BAY, false)}} (Bayesian),
          {{source.format(d.ASSOC_PROB_LR)}} (Likelihood Ratio)
        </li>
        <li>Class: {{d.CLASS}}</li>
        <li>TeVCat flag: {{source.tevcat_flag()}}</li>
      </ul>

      <br>
      <h4><b>Position Info</b></h4>
      <ul>
        <li>RA: {{source.format(d.RAJ2000, false, 'deg')}}</li>
        <li>DEC: {{source.format(d.DEJ2000, false, 'deg')}}</li>
        <li>GLON: {{source.format(d.GLON, false, 'deg')}}</li>
        <li>GLAT: {{source.format(d.GLAT, false, 'deg')}}</li>
      </ul>
      <ul>
        <li>Semimajor (95%): {{source.format(d.Conf_95_SemiMajor, false, 'deg')}}</li>
        <li>Semiminor (95%): {{source.format(d.Conf_95_SemiMinor, false, 'deg')}}</li>
        <li>Position angle (95%): {{source.format(d.Conf_95_PosAng, true, 'deg')}}</li>
        <li>ROI number: {{d.ROI_num}}</li>
      </ul>

      <br>
      <h4><b>Model Info</b></h4>
      <ul>
        <li>Significance (10 GeV - 2 TeV): {{source.format(d.Signif_Avg, false)}}</li>
        <li>Npred: {{source.format(d.Npred, true)}}</li>
      </ul>

      <div *ngIf="source.is_extended()">
        <p>
          <u>Extended source information</u>
        </p>
        <p>
          (To be implemented)
        </p>
      </div>

      <ul>
        <li>Spectrum type: {{d.SpectrumType}}</li>
        <ul>
          <li>Spectral index: {{source.format_error(d.Spectral_Index, d.Unc_Spectral_Index, false)}}</li>
          <li *ngIf="source.spec_type == 'LogParabola'">Beta: {{source.format_error(d.beta, d.Unc_beta, false)}}</li>
          <li>Pivot energy: {{source.format(d.Pivot_Energy, true, 'GeV')}}</li>
          <li>Flux density at pivot energy: {{source.format_error(d.Flux_Density, d.Unc_Flux_Density, true, 'cm-2 s-1 GeV-1')}}
          </li>
        </ul>
      </ul>

      <ul>
        <li>Power law index: {{source.format_error(d.PowerLaw_Index, d.Unc_PowerLaw_Index, false)}}</li>
        <li>Integral flux (10 GeV - 1 TeV): {{source.format_error(d.Flux, d.Unc_Flux, true, 'cm-2 s-1')}}</li>
        <li>Energy flux (10 GeV - 1 TeV): {{source.format_error(d.Energy_Flux, d.Unc_Energy_Flux, true, 'erg cm-2 s-1')}}
        </li>
        <li>Significance curvature: {{source.format(d.Signif_Curve, true)}}</li>
      </ul>

      <br>
      <h4><b>Spectral Points</b></h4>
      <p>
        (To be implemented)
      </p>

      <br>
      <h4><b>Other Info</b></h4>
      <ul>
        <li>Highest energy photon: {{source.format(d.HEP_Energy, false, 'GeV')}} (Probability:
          {{source.format(d.HEP_Prob * 100, true)}}%)
        </li>
        <li>Bayesian Blocks: {{source.bayesian_blocks()}}</li>
        <li>Redshift: {{source.format(d.Redshift, false)}}</li>
        <li>NuPeak_obs: {{source.format(d.NuPeak_obs, true, 'Hz')}}</li>
      </ul>
    </div>
  </div>
</div>
