<div *ngIf="(catalog)">
  <div class="container">

    <div class="col-md-4">
        <h3>{{getSource().data.Source_Name}}</h3>
        <h5>Basic info: </h5>
        <ul>
            <li>Source name: {{getSource().data.Source_Name}}</li>
            <li>ASSOC: {{getSource().data.ASSOC}}</li>
            <li>CLASS: {{getSource().data.CLASS}}</li>
        </ul>
        <h5>Position info:</h5>
        <ul>
            <li>RA: {{getSource().data.RAJ2000}} deg</li>
            <li>DEC: {{getSource().data.DEJ2000}} deg</li>
            <li>GLON: {{getSource().data.GLON}} deg</li>
            <li>GLAT: {{getSource().data.GLAT}} deg</li>
        </ul>
        <h5>Spectral info:</h5>
        <ul>
            <li>TODO</li>
        </ul>
    </div>

    <div class="col-md-4">
      <h3>Lightcurve</h3>
      <p>TODO</p>
      <!-- <img src="{{getUrl(getSource().data.Source_Name, 'lc')}}" class="img-responsive" alt="Light curve" /> -->
    </div>

    <div class="col-md-4">
      <h3>Spectrum</h3>
      <p>TODO</p>
      <!-- <img src="{{getUrl(getSource().data.Source_Name, 'spec')}}" class="img-responsive" alt="Spectrum" /> -->
    </div>

  </div>
</div>

<footer>
    <div class="container">
        <p>
            Data from: <a href="http://fermi.gsfc.nasa.gov/ssc/data/access/lat/2FHL/">Fermi-LAT 2FHL Catalog</a>
        </p>
    </div>
</footer>
