#aladin-lite-div {
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 0;
}

.aladin-popup {
  width: 270px;
  text-align: left;
}

table, table tbody {
  width: 270px;
  text-align: left;
}

table th {
  height: 30px;
}
