
<button id="aboutButton" (click)="onClick($event)">About</button>

<div id="aboutInfo">

  <p>gamma-sky.net is an open-source and open-data webpage about the gamma-ray sky.</p>

  <p>Read our full documentation <a href="https://github.com/gammapy/gamma-sky/wiki" target="_blank">here</a>.</p>

  <p>More coming soon!</p>

  <p>Created by <a href="https://github.com/cdeil" target="_blank">Christoph Deil</a> and
     <a href="https://github.com/vorugantia" target="_blank">Arjun Voruganti</a>.</p>

  <p>If you would like to contribute, check out <a href="https://github.com/gammapy/gamma-sky" target="_blank">our repo</a>
     or email us.</p>

</div>
