<div *ngIf="(catalog)">
  <div class="container">

    <div class="col-md-6">
      <h3>{{getSource().Source_Name}}</h3>
      <h5>Basic info</h5>

      <ul>
        <li>Source name: {{getSource().Source_Name}}</li>
      </ul>

      <!-- <ul>
          <li>Source name: {{getSource().data.Source_Name}}</li>
          <li>Other names: {{getSource().data.id_alt}}</li>
          <li>
            <a href="{{ getSNRcatUrl(getSource()) }}" target="_blank">
              View in SNRcat
            </a>
          </li>
          <li>TODO: add link to get data as JSON</li>
      </ul>
      <h5>Position and morphology info:</h5>
      <ul>
          <li>RA: {{getSource().data.RAJ2000}} deg</li>
          <li>DEC: {{getSource().data.DEJ2000}} deg</li>
          <li>GLON: {{getSource().data.GLON}} deg</li>
          <li>GLAT: {{getSource().data.GLAT}} deg</li>
          <li>Size: {{getSource().data.size_radio_mean}} arcmin</li>
      </ul>
    </div>

    <div class="col-md-4">
      <h3>Radio image</h3>
      <img src="{{getUrl(getSource().data.Source_Name, 'lc')}}" class="img-responsive" alt="Light curve" />
      <p>TODO: put small Aladin widget here (maybe 2 x 2 deg), showing a radio image.</p>
    </div> -->

  </div>
</div>
<footer>
    <div class="container">
        <p>
            Data from: <a href="http://www.physics.umanitoba.ca/snr/SNRcat/">SNRCat</a>
        </p>
    </div>
</footer>
