/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/*Popups*/
.aladin-popup {
  width: 280px;
  text-align: left;
}

.popup-info table, .popup-info table tbody {
  width: 270px;
  text-align: left;
}

.popup-info table th {
  height: 30px;
}

.popup-link {
  text-align: right;
  margin-right: 4px;
  font-size: 12px;
}

/*Cat detail pages*/
.cat-detail-button {
  font-family: monospace;
  font-size: 15px;
  font-weight: bold;
  /*position: fixed;*/
  border: 2px solid rgb(50, 50, 50);
  background-color: white;
  opacity: 0.9;
  height: 30px;
  margin-bottom: 20px;
}
