
<div  id='catalog-select'>

  <div class="btn-group btn-group-lg">

    <button
      class='btn btn-primary'
      [(ngModel)]="selectedCatalog"
      btnRadio="3fgl"
      uncheckable
      (click)='setItems(items3FGL)'
    >
      3FGL
    </button>
    <!-- <button class='btn btn-primary' [(ngModel)]="selectedCatalog" btnRadio="3fhl" uncheckable (click)='setItems(items3FHL)'>
      3FHL
    </button> -->
    <button class='btn btn-primary' [(ngModel)]="selectedCatalog" btnRadio="snrcat" uncheckable (click)='setItems(itemsSNRcat)'>
      SNRcat
    </button>
    <button class='btn btn-primary' [(ngModel)]="selectedCatalog" btnRadio="tev" uncheckable (click)='setItems(itemsTeV)'>
      TeV
    </button>

  </div>

</div>


<div id='source-select'>

  <div class='form-group'>

    <ng-select id='ng2-select'
      [allowClear]='true'
      [items]='items'
      [disabled]='disabled'
      (data)='refreshValue($event)'
      (selected)='selected($event)'
      (removed)='removed($event)'
      (typed)='typed($event)'
      placeholder='No source selected'
      tooltip='Select a catalog first.'
      [isDisabled]='tooltip'
    >
    </ng-select>

  </div>

  <!-- <br>
  <pre>{{value.text}}</pre> -->

</div>

<hr>
