<!-- <p>

  <select (change)="onSelectChange($event.target.value)">
    <option value="">Choose a catalog</option>
    <option value="3fgl">3FGL</option>
    <option value="2fhl">2FHL</option>
    <option value="snrcat">SNRcat</option>
  </select>



</p> -->

<div style="width:300px; margin-bottom:20px;" *ngIf="catalog">
  <h3>Select a source:</h3>

  <ng-select
              [allowClear]='true'
              [items]='items'
              [disabled]='disabled'
              (data)='refreshValue($event)'
              (selected)='selected($event)'
              (removed)='removed($event)'
              (typed)='typed($event)'
              placeholder='No source selected'>
  </ng-select>

  <br>
  <pre>{{value.text}}</pre>

</div>
