
<div *ngIf="(catalog)">

  <div class="container">

    <div class="col-md-6">
      <h3>Source Name:
        {{catalog.getSourceByID(id).data.Source_Name}}</h3>
      <ul>
        <li>RA:
          {{catalog.getSourceByID(id).data.RAJ2000}}</li>
        <li>DEC:
          {{catalog.getSourceByID(id).data.DEJ2000}}</li>
      </ul>

    </div>

    <div class="col-md-6">
      <h3>Light Curve</h3>
      <img src="{{getUrl(catalog.getSourceByID(id).data.Source_Name, 'lc')}}" class="img-responsive" alt="Generic placeholder thumbnail" />
    </div>

    <div class="col-md-6">
      <h3>Spectrum</h3>
      <img src="{{getUrl(catalog.getSourceByID(id).data.Source_Name, 'spec')}}" class="img-responsive" alt="Generic placeholder thumbnail" />
    </div>

    <div class="col-md-6">
      <h3>Full JSON data</h3>
      <pre>
          {{ catalog.getSourceByID(id) | json }}
      </pre>
    </div>


  </div>

</div>
