<div *ngIf="(catalog)">
  <div class="container">
    <div class="col-md-4">
        <h2>{{d.Source_Name}}</h2><br>

        <h4><b>Basic Info</b></h4>
        <ul>
          <li>Source Name: {{d.Source_Name}}</li>
          <li>Extended name: {{d.Extended_Source_Name}}</li>
          <li>Associations: {{source.join_assoc()}}</li>
          <li>Other names:</li>
        </ul>


    </div>

    <div class="col-md-4">
      <h3>Lightcurve</h3>
      <img src="{{getUrl(d.Source_Name, 'lc')}}" class="img-responsive" alt="Light curve" />
    </div>

    <div class="col-md-4">
      <h3>Spectrum</h3>
      <img src="{{getUrl(d.Source_Name, 'spec')}}" class="img-responsive" alt="Spectrum" />
    </div>

  </div>
</div>

<footer>
    <div class="container">
        <p>
            Data from: <a href="http://fermi.gsfc.nasa.gov/ssc/data/access/lat/4yr_catalog/">Fermi-LAT 3FGL Catalog</a>
        </p>
        <p>
            Spectrum and lightcurve image from (for now): <a href="http://fermi.gsfc.nasa.gov/ssc/data/access/lat/4yr_catalog/3FGL-table/#aitoff">Fermi-LAT 3FGL Catalog - Interactive Table</a>
        </p>
    </div>
</footer>
